/* Reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

#main {}

#header {
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    /* chỉnh thứ tự các tầng của trang web */
}

#nav {
    display: inline-block;
}

#nav li {
    display: inline-block;
    position: relative;
    margin: 0;
}

#nav>li>a {
    color: #fff;
}

#nav li a {
    height: 46px;
    text-decoration: none;
    line-height: 46px;
    padding: 0px 24px;
    display: block;
}

#nav .subnav li:hover a,
#nav>li:hover>a {
    color: #fff;
    background-color: #ccc;
}

#nav .subnav {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: none;
}

#nav .subnav li {
    display: block;
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav a {
    color: #000;
}

#nav .nav-arrow-down {
    font-size: 14px;
}

#header .search-bottom {
    color: rgb(255, 255, 255);
    float: right;
    line-height: 46px;
    padding: 0 21px;
}

#header .search-bottom:hover {
    background-color: #f44336;
    cursor: pointer;
    /* đổi icon chuột */
}

#slider {
    margin-top: 46px;
    padding-top: 50%;
    background: url(/assets/img/slider/hinh_nen_am_nhac_cover.webp);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#slider .text-content {
    position: absolute;
    /* nhấc text lên một tầng khác, không chiếm diện tích của slider */
    bottom: 47px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #fdfdd4;
}

#slider .text-heading {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 20px;
}

#slider .text-ds {
    font-weight: 700;
    font-size: 20px;
}

#content {}

#content .content-section {
    width: 800px;
    padding: 64px 0px;
    margin-left: auto;
    margin-right: auto;
}

#content .section-heading {
    font-size: 30px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 4px;
    /* chỉnh khoảng cách giữa các chữ */
}

#content .section-sub-heading {
    font-size: 15px;
    text-align: center;
    margin: 25px 0px;
    font-style: italic;
    opacity: 0.6;
    /* chỉnh độ trong suốt của phần tử */
}

#content .about-text {
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}

#footer {}